body {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 239, 239);
}

.department-form {

    width: 500px;
    margin: 100px auto;
    background-color: rgb(204, 215, 224);
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgb(1, 8, 15);
}

.department-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: rgb(7, 0, 0);
}

.department-form input {
    width: 80%;
    padding: 12px;
    border: 1px solid #d8c5c5;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.department-form button {

   width: 90%;
   padding: 12px;
   background: #ff8c00 ;
   color: azure;
   border-radius: 6px;
   font-size: 16px;


}

.department-form button:hover {
    background: #e20c0c;
}