
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f9f8f6;
    color: #333;
}

.container {
    display: flex;

}

.sidebar {
    width: 230px;
    background: #1e2a78 ;
    padding: 20px;
}

.logo {
    color: #ffb400;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #cfd3ff;
}

.sidebar ul li a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.sidebar ul li:hover,
.sidebar ul li:active {
     
    background: #ffb400;
    color: #1e2a78;
    font-weight: 600;
}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.btn {
    background: #ff7a00;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #ee0e0e;
}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-actions .btn {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

.btn {
    background: #ff7a00;
    color: white;
     padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}


.employee-table-container {
    margin: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;

}

.employee-table-container h2 {
    margin-bottom: 20px;
    color: white;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

}

.employee-table thead {
    background-color: #be236cff;
    color: #ffffff;

}

.employee-table th,
.employee-table td {
    padding: 10px 10px;
    border: 1px solid #a54141ff;
    text-align: center;
}

.employee-table tbody tr:hover {
    background-color: rgb(5, 222, 246);
    transition: 0.3s;
}
