* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  

}

body {

     background: #d5d7de;
}

.container {
    display: flex;
}

.sidebar {

    width: 230px;
    background: #1e2a78; 
    height: 100vh;
    padding: 20px;
    border-right: solid black;
}

.logo {

    color: #ffb400;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;

}

.sidebar ul li {

    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #fff;
}

.sidebar ul li:hover,
.sidebar ul li:active {
    background: #ffb400;
    color: #1e2a78;

}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-actions .btn {
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
    font-weight: bold;
}

.btn {
    background: #ff7a00;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;

}

.btn:hover {
    background: #ee0e0e;
}

.employee-table-container {
    margin: 30px;
    background: #f9f8f6;
    padding: 20px;
    border-radius: 10px;

}

.employee-table-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.employee-table {

    width: 100%;
    font-size: 14px;
    box-shadow: #333;
}

.employee-table thead {
    background-color: #1e2a78;
    color: #ddd;
}

.employee-table th,
.employee-table td {
    padding: 12px;
    border-bottom: 2px;
    text-align: center;
}

.employee-table tbody tr:hover {
    background-color: #5284d0;
}

button.approved {
    background-color: #56e409;
    color: #ddd;
}

button.pending {
    background-color: #ff7a00;
    color: #f0f2f5;
}
