* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  

}

body {

     background: #f0f2f5;
}

.container {
    display: flex;
}

.sidebar {

    width: 230px;
    background: #1e2a78; 
    height: 100vh;
    padding: 20px;
    border-right: solid black;
}

.logo {

    color: #ffb400;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;

}

.sidebar ul li {

    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #fff;
}

.sidebar ul li:hover,
.sidebar ul li:active {
    background: #ffb400;
    color: #1e2a78;

}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-actions .btn {
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
    font-weight: bold;
}

.btn {
    background: #ff7a00;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;

}

.btn:hover {
    background: #ff9500;
}

.employee-table-container {
    margin: 30px;
    background: #dbd8d2;
    padding: 20px;
    border-radius: 10px;

}


.employee-table-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Table */
.employee-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.employee-table thead {
    background-color: #1e2a78; /* Dark blue */
    color: #ffffff;
}

.employee-table th,
.employee-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Hover effect for rows */
.employee-table tbody tr:hover {
    background-color: #f0f8ff; /* Light blue on hover */
    transition: 0.3s;
}

/* Status buttons */
button.approved {
    background-color: #28a745; /* Green */
    color: white;
    cursor: default;
}

button.pending {
    background-color: #ffc107; /* Yellow */
    color: white;
}

button.approved:hover,
button.pending:hover {
    opacity: 0.8;
}
