
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: #c7d8dc;
    color: #333;
     height: 100%;
}

.container {
    display: flex;
    min-height: 100vh;

}

.sidebar {
    width: 230px;
    background: #1e2a78 ;
    padding: 20px;
    min-height: 100vh;
}

.logo {
    color: #ffb400;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #cfd3ff;
}

.sidebar ul li a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #ffb400;
    color: #1e2a78;
    font-weight: 600;
}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.btn {
    background: #ff7a00;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #ee0e0e;
}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-actions .btn {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

.btn {
    background: #ff7a00;
    color: white;
     padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}


.btn:hover {
    background: #ee0e0e;
}

.employee-table-container {
    background: #f9f8f6;
    padding: 20px;
    border-radius: 10px;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
}

.employee-table thead {
    background: #1e2a78;
    color: #fff;
}

.employee-table th,
.employee-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.employee-table tbody tr:hover {
    background: #cfd3ff;
}

.btn-pending {
    background: #ffb302;
    color: #f9f8f6;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;

}

.btn-pending:hover {
    background: #ec07e0;

}

.btn-delete {
    background: #f33804;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    margin-left: 6px;
}

.btn-delete:hover {
    background: #08deee;
    color: black;
}

.approved {
    background: green;
    color: #f9f8f6;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
}

