* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #c7d8dc;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 230px;
    background: #1e2a78;
    padding: 20px;
}

.logo {
    color: #ffb400;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #fff;
}

.sidebar ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #ffb400;
    color: #1e2a78;
    font-weight: 600;
}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.btn-pending {
    background: #ff7a00;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    background: #ff7a00;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #ee0e0e;
}

.btn-pending:hover {
    background: #ff0202;
}

.main {
    flex: 1;
    padding: 20px;
}

.approved {
    color: #16a34a;
    font-weight: bold;
}

.form-box {
    background: #e5e7eb;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: black;
}

.form-box h3 {
    margin-bottom: 20px;

}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: #f59e0b;
}

.employee-table-container {
    background: #e5e7eb;
    padding: 20px;
    border-radius: 10px;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;

}

.employee-table th {
    background: #2563eb;
    color: #e6e1e1;
    padding: 12px;
    text-align: left;
}

.employee-table td {
    padding: 12px;
    border-bottom: #e5e7eb;
}

.employee-table tr:hover {
    background: #6a89cb;
}

.status {
    font-weight: bold;
}
.status.Paid {
    color: #16a34a;
}
.status.Pending {
    color: #ff7a00;
}

.status.Pending {
    color: #f59e0b;
}

