* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #c7d8dc;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 230px;
    background: #1e2a78;
    padding: 20px;
}

.logo {
    color: #ffb400;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #fff;
}

.sidebar ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #ffb400;
    color: #1e2a78;
    font-weight: 600;
}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.btn {
    background: #ff7a00;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #ee0e0e;
}

.employee-table-container {
    margin: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;

}

.employee-table-container h2 {
    margin-bottom: 20px;
    color: white;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

}

.employee-table thead {
    background-color: #be236cff;
    color: #ffffff;

}

.employee-table th,
.employee-table td {
    padding: 10px 10px;
    border: 1px solid #a54141ff;
    text-align: center;
}

.employee-table tbody tr:hover {
    background-color: #cd7827ff;
    transition: 0.3s;
}

